#pong-game-area
{
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: pink;
}

#pong-left,
#pong-right
{
    position: absolute;
    top: 70px;
    background-color: black;
}

#pong-left
{
    left: 0;
}

#pong-right
{
    right: 0;
}

#pong-ball
{
    position: absolute;
    background-color: blue;
}
