body
{
    background-color: #fff;
}

#pong-area
{
    margin: auto;
    position: relative;
    background-color: #dcf6db;
    clear: both;
}

#pong-left,
#pong-right
{
    position: absolute;
    background-color: black;
}

.ball
{
    position: absolute;
    background-color: red;
}

#score
{
    margin: auto;
    width: 600px;
}

#score span
{
    font-size: 24px;
}

#score #left
{
    float: left;
}

#score #right
{
    float: right;
}
